<h1>Details Page</h1>
<h3>Item details:  </h3>
<ul>
    <li>id: {{id}}</li>
    <li>quote: {{quote}}</li>
    <li>author: {{author}}</li>
    <li>date: {{date}}</li>
</ul>
<a href='/'>Back to home page.</a>